<!-- employee-form.component.html -->
<div class="modal fade" id="employeeModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ isEditMode ? "Edit Employee" : "Add Employee" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="onModalClose()"
        ></button>
      </div>

      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <!-- Name -->
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" />
            <div
              class="text-danger small"
              *ngIf="
                employeeForm.get('name')?.touched &&
                employeeForm.get('name')?.invalid
              "
            >
              Name must be at least 3 characters
            </div>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" />
            <div
              class="text-danger small"
              *ngIf="
                employeeForm.get('email')?.touched &&
                employeeForm.get('email')?.invalid
              "
            >
              Must be a valid email
            </div>
          </div>

          <!-- Department -->
          <div class="mb-3">
            <label class="form-label">Department</label>
            <select formControlName="department" class="form-select">
              <option value="">Select Department</option>
              <option>IT</option>
              <option>HR</option>
              <option>Finance</option>
              <option>Marketing</option>
            </select>
            <div
              class="text-danger small"
              *ngIf="
                employeeForm.get('department')?.touched &&
                employeeForm.get('department')?.invalid
              "
            >
              Department is required
            </div>
          </div>

          <!-- Date of Joining -->
          <div class="mb-3">
            <label class="form-label">Date of Joining</label>
            <input
              type="date"
              formControlName="dateOfJoining"
              class="form-control"
            />
            <div
              class="text-danger small"
              *ngIf="employeeForm.get('dateOfJoining')?.errors?.['futureDate']"
            >
              Date cannot be in the future
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            id="closeModalBtn"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="onModalClose()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="employeeForm.invalid"
          >
            {{ isEditMode ? "Update" : "Save" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
